---
import "../styles/global.css";
// Supports weights 300-700
import "@fontsource-variable/space-grotesk";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Planetwide</title>
  </head>
  <body
    class="h-full bg-gradient-to-b from-slate-900 via-slate-800 to-slate-900 text-slate-100"
  >
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
